
[*]

# Microsoft .NET properties
csharp_preferred_modifier_order = public, required, protected, override, private, new, internal, abstract, virtual, async, file, sealed, extern, unsafe, volatile, readonly, static:suggestion

# ReSharper properties
resharper_blank_lines_after_block_statements = 0
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_csharp_max_line_length = 151
resharper_csharp_remove_blank_lines_near_braces_in_code = false
resharper_instance_members_qualify_declared_in = base_class
resharper_place_accessorholder_attribute_on_same_line = false
resharper_space_within_single_line_array_initializer_braces = false
